.Trash/
.CFUserTextEncoding
.DS_Store
.bash_history
.cache/
.config/
.eclipse/
.git-credentials
.gitconfig
.idlerc/
.lesshst
.matplotlib/
.mongodb/
.npm/
.oracle_jre_usage/
.p2/
.ssh/
.viminfo
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
Applications (Parallels)/
Applications/
Documents/
Downloads/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
PycharmProjects/
eclipse-workspace/
git/
https:/
matlab_crash_dump.5799-1
